table, td, th{
    border: solid 1px black
}
table{
    border-collapse: collapse;
}
td {
    width: 180px;
    font-size: 20px;
}
th{
    font-size: 15px;
    background-color: blueviolet;
}

th {
    background-color: rgb(139, 139, 223);
    color: white;
}

tr:hover {background-color: #d8d1d1;}
